$PurpleDefault: #5d5fef;
$DarkDefault: #151d48;
$GrayDefault: #737791;
$White: #fff;
$WhitePrimary: #f9fafb;
.text-dark {
  color: $DarkDefault;
}
.text-purple {
  color: $PurpleDefault;
}
.text-gray {
  color: $GrayDefault;
}
.text-white {
  color: $White;
}
